<div class="container">
  <div class="row g-4">

    <!-- Cidade -->
    <div class="col-md-4">
      <div class="card shadow h-100">
        <div class="card-body text-center">
          <img src="img/cidade.jpg" class="img-fluid mb-3 img-card" alt="Cidade">
          <h5 class="card-title">Cidade</h5>
          <p class="card-text">Uma bela vista urbana.</p>
        </div>
      </div>
    </div>

    <!-- Montanha -->
    <div class="col-md-4">
      <div class="card shadow h-100">
        <div class="card-body text-center">
          <img src="img/montanha.jpg" class="img-fluid mb-3 img-card" alt="Montanha">
          <h5 class="card-title">Montanha</h5>
          <p class="card-text">Natureza e aventura.</p>
        </div>
      </div>
    </div>

    <!-- Praia -->
    <div class="col-md-4">
      <div class="card shadow h-100">
        <div class="card-body text-center">
          <img src="img/praia.jpg" class="img-fluid mb-3 img-card" alt="Praia">
          <h5 class="card-title">Praia</h5>
          <p class="card-text">Relaxamento e mar azul.</p>
        </div>
      </div>
    </div>

  </div>
</div>

<router-outlet></router-outlet>
